html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #f8f8f8;
	background-image: linear-gradient(
			12deg,
			rgba(193, 193, 193, 0.05) 0%,
			rgba(193, 193, 193, 0.05) 2%,
			rgba(129, 129, 129, 0.05) 2%,
			rgba(129, 129, 129, 0.05) 27%,
			rgba(185, 185, 185, 0.05) 27%,
			rgba(185, 185, 185, 0.05) 66%,
			rgba(83, 83, 83, 0.05) 66%,
			rgba(83, 83, 83, 0.05) 100%
		),
		linear-gradient(
			321deg,
			rgba(240, 240, 240, 0.05) 0%,
			rgba(240, 240, 240, 0.05) 13%,
			rgba(231, 231, 231, 0.05) 13%,
			rgba(231, 231, 231, 0.05) 34%,
			rgba(139, 139, 139, 0.05) 34%,
			rgba(139, 139, 139, 0.05) 71%,
			rgba(112, 112, 112, 0.05) 71%,
			rgba(112, 112, 112, 0.05) 100%
		),
		linear-gradient(
			236deg,
			rgba(189, 189, 189, 0.05) 0%,
			rgba(189, 189, 189, 0.05) 47%,
			rgba(138, 138, 138, 0.05) 47%,
			rgba(138, 138, 138, 0.05) 58%,
			rgba(108, 108, 108, 0.05) 58%,
			rgba(108, 108, 108, 0.05) 85%,
			rgba(143, 143, 143, 0.05) 85%,
			rgba(143, 143, 143, 0.05) 100%
		),
		linear-gradient(
			96deg,
			rgba(53, 53, 53, 0.05) 0%,
			rgba(53, 53, 53, 0.05) 53%,
			rgba(44, 44, 44, 0.05) 53%,
			rgba(44, 44, 44, 0.05) 82%,
			rgba(77, 77, 77, 0.05) 82%,
			rgba(77, 77, 77, 0.05) 98%,
			rgba(8, 8, 8, 0.05) 98%,
			rgba(8, 8, 8, 0.05) 100%
		),
		linear-gradient(334deg, rgb(35, 36, 59), rgb(35, 36, 59));

	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-card {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.profile-card > .image-container {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 4px solid rgba(255, 255, 255, 0.5);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-container > img {
	width: 100%;
	height: auto;
	filter: grayscale(80%);
	cursor: pointer;
}

.image-container > img:hover {
	filter: grayscale(20%);
}

.social-media-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.social-media-container i {
	font-size: 30px;
	color: #f8f8f8;
}
